.doc {
	width: 570px;
}

.doc > pre {
	font-family: $monospaceFonts;
	font-size: 12px;
	background: #fff;
	padding: 20px;
	border: 1px solid $alt1;
}

.doc > p + p {
	margin-top: 1em;
}

.doc > hr {
	background: $docDelimiterImage repeat-x 0px 0px;
	border: 0;
	height: 1px;
}
