.toc {
	padding-left: 13px;
	padding-bottom: 20px;
}

.toc > ul {
	margin-left: 13px;
}

.toc > ul > li {
	&:before {
		content: ' - ';
	}
}

// ---- Components ------------------------------------------------------------

.toc-Title {
	text-decoration: underline;
	font-size: 18px;
	font-weight: bold;
	display: block;
	margin-bottom: 14px;
	margin-top: 25px;
	color: $main2;

	&:hover, &.d-hover {
		text-decoration: none;
		color: $main2;
	}
}

.toc-Subtitle {
	color: $alt1;
	display: block;
	margin-left: 13px;
	font-size: 12px;
	font-style: italic;
	margin-top: 10px;
}

.toc-Entry {
	font-size: 13px;
	color: $main2;
	text-decoration: none;

	&:hover, &.d-hover {
		color: $accent;
		text-decoration: underline;
	}
}
