.window {
	position: relative;
	z-index: $zindexHorizon;
	background-color: #e1e1e1;
	background-image: $windowBgImage;
	min-height: 100%;
}

// ---- Components ------------------------------------------------------------

.window-Body {
	font-family: $serifFonts;
	margin-left: 245px;
	position: relative;
	padding-top: 150px;
	padding-left: 35px;
	padding-bottom: 200px;
	min-height: 100%;
}

.window-Nav {
	font-family: $sansSerifFonts;
	width: 245px;
	position: fixed;
	top: 0; bottom: 0; left: 0;
	overflow-y: scroll;
	background: #fff;
	box-sizing: border-box;
	border-right: 1px solid $main1;
	box-shadow: 3px 0px 7px 0px rgba(50, 50, 50, 0.25);
	height: 100%;
}

.window-Navhead {
	height: 30px;
	font-size: 11px;
	font-weight: bold;
	padding-top: 13px;
	padding-right: 5px;
	box-sizing: border-box;
	text-align: right;
	background-image: $windowNavheadBorderImage;
	background-repeat: no-repeat;
	background-position: -15px 29px;
}

.window-Navbody {
	position: relative;
}

.window-Logo {
	position: absolute;
	top: 0; left: 7px;
	background-image: $windowLogoImage;
	padding: 0; margin: 0;
	line-height: 1;
	width: 407px; height: 98px;
}

.window-Logotext {
	visibility: hidden;
}