
// Assets
// ------

// Any assets required for styling must be defined here as variables.

$windowBgImage: url('images/window/subtlepatterns/ticks.png');
$windowLogoImage: url('images/window/logo.png');
$windowNavheadBorderImage: url('images/window/navhead-border.png');
$docDelimiterImage: url('images/doc/delimiter.png');
